input {
  width: 300px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
}

input:hover {
  border-style: dashed;
}

button {
  padding: 5px;
  color: white;
  background-color: #0452aa;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms ease;
}

button:hover {
  color: black;
  background-color: transparent;
  border-style: dashed;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0452aa;
  color: white;
}

table tbody:nth-child(even) {
  background-color: #f2f2f2;
}

table tr {
  border: 2px solid transparent;
}

table tr:hover {
  background-color: #ddd;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#rightMenu {
  position: absolute;
  right: 10px;
  top: 20px;
}

@media screen and (max-width: 650px) {
  #rightMenu {
    position: unset;
    float: right;
  }
}
